<nb-card>
  <nb-card-header>
    Get The Data From WebSocket
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.value | number }}</td>
      </tr>
    </tbody>
  </table>
</div>
